* {
    font-family: Arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

main {
    min-height: 80vh;
    padding: 20px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-color: dodgerblue;
}

nav a {
    color: white;
}

th,
td {
    width: 200px;
    padding: 20px;
    border: 1px solid black;
}

.form {
    width: 50%;
    margin: auto;
}

.form input {
    width: 100%;
    padding: 5px;
    border-radius: 7px;
    outline: none;
    border-color: lightgray;
}

.form-group {
    padding: 20px;
}

.mybtn {
    color: white;
    border: none;
    background-color: dodgerblue;
    border-radius: 7px;
    width: 50%;
    padding: 20px;
}

input[tpye="submit"] {
    width: 50%;
    margin: 20px;
    padding: 20px;
}

.alert {
    padding: 20px;
    background: lightgreen;
    color: green;
}